<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">Foro</span>
                    <hr class="star-light">
                    <span class="skills">Herramienta de Democracia Digital</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="noticias">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Actualizar Publicación</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row" allign="text-center">
            <br>
            <div class="col-lg-12 text-left">
                <%= form_for :tema, url: temas_path do |f| %>
                
                <p>
            <%= f.label :titulo %><br>
              <%= f.text_field :titulo %>
            </p>
           <br>
            <p>
              <%= f.label :contenido %><br>
              <%= f.text_area :contenido %>
            </p>
           <br>
            <p>
              <%= f.submit %>
            </p>
              <% end %>

              <br>
              <%= link_to "Cancelar", tema_path, :class => 'btn btn-default' %>
            </div> 

        </div>
    </div>
</section>