<%= render 'shared/header' %>

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">Foro</span>
                    <hr class="star-light">
                    <span class="skills">Herramienta de Democracia Digital</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="foro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Publicaciones</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <%= link_to "Nueva", new_tema_path, :class => 'btn btn-default' %>
            </div>
        </div>
        <hr>
        <br>

        <% @temas.each do |tema| %>
            
            <div class="row">
            <div class="col-lg-12 text-left">
                <h3><%= link_to tema.titulo, tema_path(tema) %>
                <small>Por <%= tema.user_id %>
                <br> <%= time_ago_in_words(tema.created_at )%></small>
                </h3>
                
                <p>
                <%= link_to "Leer Más", tema_path(tema), :class => 'btn btn-default' %></p>
                <br><br><br>
            </div>
            </div>
           
        <% end %>
        <br><br>
        <hr>
        <div class="row">
            <div class="col-lg-12 text-center">
                <%= link_to "Nueva", new_tema_path, :class => 'btn btn-default' %>
            </div>
        </div>

    </div>
</section>

<!-- About Section -->
<section class="success" id="acerca">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Acerca de</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Democracia digital es un proyecto que....</p>
            </div>
            <div class="col-lg-4">
                <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://es.wikipedia.org/wiki/Democracia_digital" class="btn btn-lg btn-outline">
                    <i class="fa fa-info-circle"></i> Conocer más
                </a>
            </div>
        </div>
    </div>
</section>




<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>